:root{
    --main-color: rgb(2, 77, 223);
    --almost-black: rgb(18, 18, 18);
    --box-shadow-color: rgba(0, 0, 0, 0.35);
    --cream-white: rgb(246, 246, 246);
    --very-light-grey: rgb(238, 238, 238);
    --light-grey: rgb(191, 191, 191);
    --overlay-color: rgba(2, 77, 223, 0.4);
}

a{
    text-decoration: none;
    color: var(--almost-black);
}  

body{
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    position: relative;
}

#hero{
    width: 100%;
    min-height: 56vw;

    background-image: url("./cards/Rkomi_Large_02.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-start;
    align-items: end;
    box-shadow: var(--box-shadow-color) 0px 8px 20px 0px;
    position: relative;
}

#heroblur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    top: 0;
}

#description{
    z-index: 1;
    color: white;
    padding: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    max-width: 600px;
}

#description h3{
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 32px;
}

#description p{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin: 0px 0px 25px 0px;
}

#description a{
    background-color: var(--main-color);
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 4px;
}

#main{
    display: flex;
    background-color: var(--cream-white);
    justify-content: center;
    padding: 0 2.5%;
}

#content{
    width: 100%;
    margin-right: 1%;
    padding-top: 1.5%;
}

#side{
    display: flex;
    background-color: white;
    width: 332px;
    text-align: center;
    flex-shrink: 0; 
    flex-grow: 0;
    flex-direction: column;
}

#sidebar{  
    display: flex;
    flex-direction: column;
}

.card:hover{
    cursor: pointer;
}

.card:hover a{
    text-decoration: underline;
    color:var(--main-color);
}

.card:hover .overlay{
    box-shadow: 0px 0px 16px 0px var(--box-shadow-color);
    opacity: 1;
}

.card h3{
    margin: 0 0 10% 2%;
    font-size: 1.15em;
    font-weight: 600;
}

.card p{
    font-size: 0.9em;
    font-weight: 500;
    color: grey;
    margin-top: 4%;
    margin-left: 2%;
} 

#sidebar .card{
    padding: 0% 5%;
}

#main-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    color: var(--almost-black);
    text-decoration: none;
}

.cmain{
    height: 100%;
    width: 48%;
    padding: 0 5px;
}

.big-card{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#most-wanted .big-card{
    width: 1000px;
    height: auto;
    border-radius: 4px;
}

#holder{
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    opacity: 0;
}

#featured .overlay{
    max-width: 90%;
}

.tsov{
    width: 90%;
    height: 100%;
    background-color: var(--overlay-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.solidov{
    width: 10%;
    height: 100%;
    background-color: var(--main-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    box-shadow: none;
}

#most-wanted{
    display: flex;
    justify-content: space-between;
}

#discover h3,
#most-wanted h3{
    font-size: 1em;
}

#side h1,
#scopri h1,
#featured h1{
    text-align: center;
    text-transform: uppercase;
}

#scopri{
    position: relative;
    margin-bottom: 5%;
}

#featured img{
    max-width: 90%;
}

#featured{
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    border-top: 1px solid var(--very-light-grey);
    border-bottom: 1px solid var(--very-light-grey)
}

#discover{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dis{
    height: 100%;
    width: 31%;
    padding: 0 5px;
}

#discover .card h3{
    margin: 0 0 3.5% 2%;
}

#sidebar .card h3{
    text-align: start;
    margin: 3% 0 15% 4%;
}

.cat{
    text-transform: uppercase;
    color: blue;
    font-size: small;
    margin: 5% 0 5% 2%;
}

.hidden{
    display: none;
}

@media (max-width: 1400px) {

    #most-wanted{
        width: 120%;
    }

    #featured .overlay{
        max-width: 95%;
    }

    #featured img {
        max-width: 95%;
    }

    .feat-max{
        display: none;
    }

    .card.featured{
        z-index: 0;
    }

    #side{
        z-index: 1;
    }
}

@media (max-width: 900px) {

    #most-wanted{
        width: 100%;
    }

    .dis-max{
        display: none;
    }

    .dis{
        width: 48%;
    }

    #main{
        padding: 0 1%;
        flex-direction: column;
    }

    #side{
        width: 100%;
        background-color: transparent;
        border-top: 1px solid var(--light-grey);
        padding: 0;
    }

    #sidebar{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #sidebar .card{
        width: 48%;
        padding: 0;
    }

    #description{
        margin: 0;
    }

    #scroll-arrow.sc-dis-right{
        display: block;
    }
}

@media (max-width: 720px) {

    #scroll-arrow.sc-feat-right{
        display: block;
    }

    #main-cards{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card{
        width: auto;
    }

    .dis-max-two{
        display: none;
    }

    .feat-max-two{
        display: none;
    }

    .card.featured{
        width: 100%;
    }

    #featured img{
        max-width: 100%;
    }

    #featured .overlay{
        max-width: 100%;
    }

    #sidebar{
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        flex-wrap: nowrap;
    }

    #sidebar .card{
        width: 95%;
        padding: 0;
    }

    #main{
        padding: 0 10px;
    }

    #description p{
        display: none;
    }

    #description h3{
        padding: 0px 16px 16px 0px;
        font-size: 24px;
        font-weight: 700;
    }

    #hero{
        background-image: url("./cards/Rkomi_Medium_02.webp");
    }
}

@media (min-width: 720px) {

    #hero {
        min-height: 30vw;
    }
    
}